<?xml version="1.0" encoding="UTF-8"?>
<!-- log4j 2 status：本身的日志级别 monitorInterval：不重启应用的情况下 修改配置文件，在300s(?ms)之后会自动读取新的配置文件 -->
<Configuration status="info" monitorInterval="300">
	<properties>
		<!-- linux环境地址：/data/log/hebaocore 本地测试：C:/Logs -->
		<property name="LOG_HOME">c:/logs/scheduler</property>
		<!-- <property name="LOG_HOME">/datadisk/data/log/scheduler</property> -->
		<property name="FILE_NAME">scheduler</property>
		<property name="FILE_NAME_ERROR">scheduler_error</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5level %L %M %logger{36} - %msg%n" />
		</Console>
		<!-- 自定义输出目录 fileName：当前日志文件的位置和文件名称 filePattern：指定当发生Rolling时，文件的转移和重命名规则 -->
		<RollingFile name="MyFile"
			fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %L %M %logger{36} - %msg%n" />
			<Policies>
				<!-- 这个配置需要和filePattern结合使用，注意filePattern中配置的文件重命名规则是${FILE_NAME}-%d{yyyy-MM-dd}-%i，最小的时间粒度是dd， 即天，
					TimeBasedTriggeringPolicy指定的size是1，结合起来就是每1天生成一个新文件 -->
				<TimeBasedTriggeringPolicy interval="1" />
				<!-- 指定当文件体积大于size指定的值时，触发Rolling -->
				<SizeBasedTriggeringPolicy size="15 MB" />
			</Policies>
			<!-- 指定最多保存的文件个数 -->
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
		
		<RollingFile name="errorFile"
			fileName="${LOG_HOME}/${FILE_NAME_ERROR}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %L %M %logger{36} - %msg%n" />
			<Policies>
				<!-- 这个配置需要和filePattern结合使用，注意filePattern中配置的文件重命名规则是${FILE_NAME}-%d{yyyy-MM-dd}-%i，最小的时间粒度是dd， 即天，
					TimeBasedTriggeringPolicy指定的size是1，结合起来就是每1天生成一个新文件 -->
				<TimeBasedTriggeringPolicy interval="1" />
				<!-- 指定当文件体积大于size指定的值时，触发Rolling -->
				<SizeBasedTriggeringPolicy size="15 MB" />
			</Policies>
			<!-- 指定最多保存的文件个数 -->
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="errorFile" />
			<AppenderRef ref="MyFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>  
